/* header .decoration {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 2px;
    background-image: -webkit-gradient(linear,left top,right top,from(#003366),to(#0066cc));
    background-image: -webkit-linear-gradient(left,#003366,#0066cc);
    background-image: linear-gradient(90deg,#003366,#0066cc);
    z-index: 120;
} */

/*Sidebar toggle*/
.btn-outline-info:not(:disabled):not(.disabled):focus, .btn-outline-info:not(:disabled):not(.disabled):hover, .btn-outline-primary:not(:disabled):not(.disabled):focus, .btn-outline-primary:not(:disabled):not(.disabled):hover, .btn-outline-secondary:not(:disabled):not(.disabled):focus, .btn-outline-secondary:not(:disabled):not(.disabled):hover {
    background-color: #fff;
    border-color: #0066cc;
    color: #0066cc;
}
.btn-outline-info:not(:disabled):not(.disabled):focus, .btn-outline-primary:not(:disabled):not(.disabled):focus, .btn-outline-secondary:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba(0,102,204,.5);
}

/*Hidden elements*/
#MainMenu {
  visibility: hidden;
}
footer {
  visibility: hidden;
}

/*Images*/
.home-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

/*Text*/
.main-header {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: #333
}

/* .st-dx {
border-bottom-color: #0066cc;
}
.st-dw {
    border-top-color: #0066cc;
}
.st-dv {
    border-right-color: #0066cc;
}
.st-du {
    border-left-color: #0066cc;
} */
/* .st-d9 {
    background-color: #0066cc;
} */
/* .st-f9:hover {
    background-color: #0066cc;
} */
/* .st-fa:hover {
    background-color: #0066cc;
} */
/*
.st-f7:hover {
    color: rgb(0,102,204);
}

.st-f6:hover {
    border-color: rgb(0,102,204);
}
.st-ef:focus {
    box-shadow: rgba(0,102,204, 0.5) 0px 0px 0px 0.2rem;
}
.st-f4:focus {
    color: rgb(0,102,204);
}
.st-f3:focus {
    border-color: rgb(0,102,204);
}
.st-bo:active {
    background-color: rgb(0,102,204);
}*/